name: Build

on: [ push, pull_request ]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      matrix:
        os: [ macOS-10.15, ubuntu-20.04, windows-2019 ]

    steps:
      - name: Setup Go environment
        if: runner.os != 'Linux'
        uses: actions/setup-go@v3
        with:
          go-version: '^1.18'

      - name: Clone the code
        uses: actions/checkout@v3
      # Used to host cibuildwheel
      - uses: actions/setup-python@v3

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.6.0

      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Windows- Install unix compatibility utility
        if: runner.os == 'Windows'
        uses: cygwin/cygwin-install-action@master
        with:
          packages: mingw64-x86_64-gcc-core

      - name: Windows- Fix GCC
        if: runner.os == 'Windows'
        run: cp C:\cygwin\bin\x86_64-w64-mingw32-gcc.exe C:\cygwin\bin\gcc.exe

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_BEFORE_ALL_LINUX: curl -L https://git.io/vQhTU | bash -s -- --version 1.18.3  && source /root/.bashrc
          CIBW_ENVIRONMENT_LINUX: PATH=$PATH:/$HOME/.go/bin
          CIBW_BEFORE_BUILD_WINDOWS: "pip install delvewheel"
          CIBW_REPAIR_WHEEL_COMMAND_WINDOWS: "delvewheel repair -w {dest_dir} {wheel}"

          CIBW_BUILD_VERBOSITY: 1
          CIBW_ARCHS_LINUX: x86_64 aarch64 ppc64le
          CIBW_SKIP: pp*
          CIBW_ARCHS_MACOS: x86_64 arm64

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl
